# comment out the timeZone if you want to keep things default

# https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/
timeZone: 'Asia/Istanbul'  # optional -- https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
schedule: "00 20 * * *"    # https://crontab.guru/#00_20_*_*_*


secretEnvVars:
  ARGOCD_SERVER: "argocd-server.argocd.svc.cluster.local:80"
  ARGOCD_ADMIN_USERNAME: "admin"
  ARGOCD_ADMIN_PASSWORD: ""
  # # ARGOCD_EXPORT_EXTRA_ARGS: "-n openshift-gitops"
  ARGOCD_EXTRA_ARGS: "--plaintext"
  # # AWS_ENDPOINT_URL_S3: 'https://s3.amazonaws.com'

  AZURE_STORAGE_ACCOUNT: ""
  AZURE_STORAGE_CONTAINER: ""
  AZURE_UPLOAD_PREFIX: "my-argocd-backups/dev/" 
  AZURE_STORAGE_SAS_TOKEN: ""

envVarSecretReferences: []
#  - name: ARGOCD_ADMIN_PASSWORD
#  # remove the .secretEnvVars.ARGOCD_ADMIN_PASSWORD if you use this
#    valueFrom:
#      secretKeyRef:
#        name: argocd-initial-admin-secret
#        key: password

extraObjects: []
#  - apiVersion: v1
#    kind: Secret
#    metadata:
#      name: extra-secret
#    type: Opaque
#    stringData:
#      AAA: BBB


securityContext:
  runAsNonRoot: true
  runAsUser: 1001070001
  runAsGroup: 1001070001
  
resources:
  limits:
    memory: "256Mi"
  requests:
    cpu: "250m"
    memory: "256Mi"

image:
  repository: "ghcr.io/oguzhan-yilmaz/argocd-backup-s3"
  tag: "latest"
  pullPolicy: Always

serviceAccount:
  irsaEnabled: false
  irsaRoleArn: "arn:aws:iam::123456789012:role/argocd-backup-role"


# OVERRIDE entrypoint.sh 
custom_command:
  - /bin/bash
  - -c
  - |
    #!/bin/bash
    set -e
    set -o pipefail
    # ----------- ENV VAR CHECKS -----------
    for var in ARGOCD_SERVER ARGOCD_ADMIN_PASSWORD AZURE_STORAGE_ACCOUNT AZURE_STORAGE_CONTAINER AZURE_STORAGE_SAS_TOKEN; do
        if [ -z "${!var}" ]; then
            echo "ERROR: Env Var '$var' is not set. Aborting."
            exit 1
        fi
    done

    if [ -z "$AZURE_UPLOAD_PREFIX" ]; then
        echo "ERROR: Env Var 'AZURE_UPLOAD_PREFIX' is not set. Aborting."
        exit 1
    fi

    # ----------- LOGIN TO ARGOCD -----------
    echo "Logging in to ArgoCD Server: ${ARGOCD_SERVER}"
    if [ -z "${ARGOCD_ADMIN_USERNAME}" ];then
      echo "ARGOCD_ADMIN_USERNAME env var is empty; defaulting to 'admin' user..."
      export ARGOCD_ADMIN_USERNAME="admin"
    fi

    argocd login "${ARGOCD_SERVER}" --username ${ARGOCD_ADMIN_USERNAME} --password "${ARGOCD_ADMIN_PASSWORD}" ${ARGOCD_EXTRA_ARGS:-} || {
        echo "ERROR: ArgoCD login failed. Make sure to use admin account password!"
        exit 1
    }

    echo "Logged in to ArgoCD Server, checking current context: ${ARGOCD_SERVER}"
    argocd context "${ARGOCD_EXTRA_ARGS:-}"
    argocd account get-user-info "${ARGOCD_EXTRA_ARGS:-}"
    echo "------------*------------*------------"

    # ----------- ARGOCD EXPORT -----------
    export FILENAME="argocd-export-$(date +"%Y-%m-%d--%H-%M").yaml"
    echo "Setting the export filename to: ${FILENAME}"

    echo "Running the 'argocd admin export' command"
    argocd admin export "${ARGOCD_EXPORT_EXTRA_ARGS:-}" > "$FILENAME"

    if [ ! -s "$FILENAME" ]; then
        echo "ERROR: Export failed, generated file is empty. Aborting."
        exit 1
    fi

    echo "Export yaml file line count: $(wc -l $FILENAME)"
    echo "------------*------------*------------"

    # ----------- AZURE UPLOAD -----------
    SAS_TOKEN_PREFIXED=$(echo "$AZURE_STORAGE_SAS_TOKEN")

    BLOB_PATH="${AZURE_UPLOAD_PREFIX%/}/${FILENAME}"

    BLOB_URL="https://${AZURE_STORAGE_ACCOUNT}.blob.core.windows.net/${AZURE_STORAGE_CONTAINER}/${BLOB_PATH}${SAS_TOKEN_PREFIXED}"

    echo "Uploading to Azure Blob: https://${AZURE_STORAGE_ACCOUNT}.blob.core.windows.net/${AZURE_STORAGE_CONTAINER}/${BLOB_PATH}"

    azcopy copy "${FILENAME}" "${BLOB_URL}" --blob-type BlockBlob || {
        echo ""
        echo "!!! AZCOPY UPLOAD FAILED !!!"
        echo "--- ERROR DETAILS ---"
        
        AZCOPY_LOG_FILE=$(ls -t /argocdbackup/.azcopy/*.log | head -n 1)
        echo "Reading from azcopy log file: $AZCOPY_LOG_FILE"
        cat "$AZCOPY_LOG_FILE"
    }

    echo "Azure Upload Complete."
    echo "Cleaning up local file: ${FILENAME}"
    rm -f "${FILENAME}"
    echo "Backup process finished."