# comment out the timeZone if you want to keep things default

timeZone: 'Asia/Istanbul'  # optional
# https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/
schedule: "00 20 * * *"    # https://crontab.guru/#00_20_*_*_*


secretEnvVars:
  AWS_ACCESS_KEY_ID: ""
  AWS_SECRET_ACCESS_KEY: ""
  AWS_DEFAULT_REGION: "eu-west-1"
  S3_BUCKET_NAME: ""
  S3_UPLOAD_PREFIX: "my-argocd-backups/dev/"
  ARGOCD_SERVER: "argocd.argocd"
  ARGOCD_ADMIN_PASSWORD: ""
  # AWS_S3_ENDPOINT: 'https://s3.amazonaws.com'


  
envVarSecretReferences: []
#  - name: ARGOCD_ADMIN_PASSWORD
#  # remove the .secretEnvVars.ARGOCD_ADMIN_PASSWORD if you use this
#    valueFrom:
#      secretKeyRef:
#        name: argocd-initial-admin-secret
#        key: password

extraObjects: []
#  - apiVersion: v1
#    kind: Secret
#    metadata:
#      name: extra-secret
#    type: Opaque
#    stringData:
#      AAA: BBB


resources:
  limits:
    memory: "256Mi"
  requests:
    cpu: "250m"
    memory: "256Mi"

image:
  repository: "ghcr.io/oguzhan-yilmaz/argocd-backup-s3"
  tag: "latest"
  pullPolicy: Always